.reset-success {
  text-align: center;
}

.reset-success-title {
  margin-bottom: 32px;
}

.success-icon {
  width: 72px;
  height: 72px;

  margin: 0 auto 28px;

  border-radius: 50%;

  background: var(--primary-500);

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.success-message {
  margin-bottom: 36px;

  color: var(--neutral-700);

  line-height: 1.6;
}

.login-button-link {
  display: block;
  text-align: center;
  text-decoration: none;
}
